.pad{
    padding-top: 20px;
    
}

.margen{
    margin-left: 25px;
}


.label{
    font-size: 20px;
    margin-left: 140px;
    /* background-color: blue; */
}

.container-login{
    background-color: rgb(245, 231, 177);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(230, 210, 132);;
    margin-top: 10px;
}

.container-signup{
    background-color: rgb(177, 245, 234);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(122, 219, 203);
    margin-top: 10px;
}

.tableH1{
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    
}

.container-table{
    background-color: rgb(236, 102, 214);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(182, 41, 158);
    margin-top: 10px;
}

.row1{
    background-color: rgb(146, 226, 199);
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(98, 185, 156);
}
.row2{
    background-color: rgb(199, 247, 231);
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(98, 185, 156);
}

.tittleRow{
    background-color: rgb(32, 204, 147);
    margin-top: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(18, 151, 107);
}