<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.campeonato.adapters.repository.PartidoRepositoryMyBatis">

    <select id="getAll" resultType="Partido">
        SELECT * FROM scoreboard;
    </select>

    <select id="get" parameterType="String" resultType="Partido">
        SELECT * FROM scoreboard
        WHERE numero_fecha = #{fecha};
    </select>

    <select id="save" parameterType="Partido">
        INSERT INTO scoreboard (numero_fecha, "local", goles_local, goles_visit, visitante)
        VALUES (#{fecha}, #{local},#{golesLocal},#{golesVisitante},#{visitante})
    </select>

    <select id="delete" parameterType="String">
        DELETE FROM scoreboard
        WHERE numero_fecha = #{fecha}
    </select>
</mapper>